In [1]:
import stravalib
import logging
from xml.dom import minidom
import dateutil
import numpy as np
import os

logger = logging.getLogger()
logger.setLevel(logging.ERROR)

In [2]:
#Global Variables - put your data in the file 'client.secret' and separate the fields with a comma!
client = stravalib.client.Client()
access_token = 'e3ccedc91fceef32077fbb31fc44676446d14bdd'

client.access_token = access_token
athlete = client.get_athlete()

In [3]:
auth_url= client.authorization_url(client_id=19435, redirect_uri='http://localhost:8282/authorized', approval_prompt=u'auto', scope='view_private,write', state=None)
from IPython.core.display import display, HTML
display(HTML("""<a href="{}">{}</a>""".format(auth_url,auth_url)))

In [4]:
code = '6d057263b427852b0489af26e921f8fd25a78852'
access_token = client.exchange_code_for_token(client_id=19435, client_secret='45b776d5beceeb34c290b8a56bf9829d6d4ea5d7', code=code)

In [5]:
client = stravalib.client.Client(access_token=access_token)
athlete = client.get_athlete()
print('athlete name %s, athlete id %s.' %(athlete.firstname, athlete.id))

athlete name Brian, athlete id 3360678.

In [6]:
import datetime
lap_start_date = datetime.datetime(2017, 9, 28)
lap_start_date

datetime.datetime(2017, 9, 28, 0, 0)

In [7]:
lap_start_date - datetime.timedelta(days=1)

datetime.datetime(2017, 9, 27, 0, 0)

In [8]:
runs = []
for activity in client.get_activities(after=lap_start_date):
    if 'ltimate' in activity.name and activity.type == 'Run':
        #print(activity.id, activity.name, activity.type, activity.start_date, activity.description)
        new_activity = client.get_activity(activity.id)
        #print(new_activity.description)
        try:
            scores, color = new_activity.description.split(' ')
            try:
                team_score, opponent_score = scores.split('-')
            except ValueError:
                team_score, opponent_score, color = None, None, None     
        except ValueError:
            scores = None
            team_score, opponent_score, color = None, None, None           
        
        print(new_activity.start_date, team_score, opponent_score, color)
        runs.append(activity)

2017-09-29 17:16:08+00:00 3 0 Colors
2017-10-11 17:17:28+00:00 1 2 colors
2017-10-13 17:11:22+00:00 1 3 white
2017-10-16 17:13:20+00:00 1 2 colors
2017-10-18 17:10:52+00:00 1 2 white
2017-10-20 17:16:14+00:00 2 0 white
2017-10-23 17:11:10+00:00 0 4 white
2017-10-25 17:13:00+00:00 1 2 colors
2017-10-27 17:57:16+00:00 None None None
2017-10-30 17:15:12+00:00 0 2 colors
2017-11-01 17:11:39+00:00 1 3 white
2017-11-03 17:07:24+00:00 1 3 colors
2017-11-06 18:09:48+00:00 2 1 white
2017-11-08 18:17:26+00:00 0 3 colors
2017-11-15 18:07:22+00:00 3 1 white

In [9]:
activity.description

In [10]:
for run in runs:
    print(run)
    for lap in runs[1].laps:
        print(lap.elapsed_time)

<Activity id=1207538661 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1225759439 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1228558114 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1233412458 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1236492513 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1239212460 name='Muddy day at Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1243675937 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1246611941 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1249359307 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1253753810 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1256764745 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1259653765 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1264185182 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1267220936 name='Cold and wet at Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02
<Activity id=1276831701 name='Ultimate' resource_state=2>
0:19:06
0:02:25
0:01:37
0:03:59
0:00:29
0:02:36
0:01:25
0:00:59
0:01:26
0:00:01
0:00:01
0:01:49
0:04:01
0:01:30
0:01:16
0:00:11
0:00:02

In [11]:
lap

In [12]:

def xml_to_float(element):
    if element is not None:
        return float(element[0].firstChild.data)
    else:
        return np.nan
        
def xml_to_time(element):
    if element is not None:
        return datetime.datetime.strptime(element[0].firstChild.data, '%Y-%m-%dT%H:%M:%S.%fZ')
#         return dateutil.parser.parse(element[0].firstChild.data)
    else:
        return np.nan

In [13]:
event_lookup = [
    '',
    'team_point',
    'opponent_point',
    'my_point',
    'game',
]

In [14]:
class Dummy(object):
    pass

self = Dummy()

# filename = 'activity_2088811850.tcx'   
filename = 'activity_2101180747.tcx'   
       
    

games = []


for filename in os.listdir():
    if '.tcx' in filename:
        print(filename)

        game_num = 0
    
        doc = minidom.parse(filename)
        doc.normalize()
        self.tcx = doc.documentElement   

        points = []

        lap_starts = []
        for lap in self.tcx.getElementsByTagName('Lap'):
            lap_starts.append(lap.attributes.items()[0][1])

        lap_starts = [datetime.datetime.strptime(t, '%Y-%m-%dT%H:%M:%S.000Z') for t in lap_starts]
        lap_starts = lap_starts[1:] # Drop first lap (start of day)

        press_delta = datetime.timedelta(0,2)

        presses = 1

        events = []

        for n in range(len(lap_starts) - 1):


            time = lap_starts[n]

            dt = lap_starts[n+1] - lap_starts[n]

            # print(presses, time, dt, dt > press_delta)


            if dt > press_delta:
                events.append([presses, time])
                presses = 1

            else:        
                presses += 1

        events.append([presses, time])
        
        for e in events:
            print(e)


        base_game = {'my_point': 0, 'team_point': 0, 'opponent_point': 0, 'game_num': 0}
        game = base_game
        for event in events:
            game['end_time'] = event[1]

            event_type = event_lookup[event[0]]
            if event_type == 'game':
                games.append(game)                
                game_num += 1
                game = {'my_point': 0, 'team_point': 0, 'opponent_point': 0, 'game_num': game_num}
                added = True

            elif event_type == 'my_point':
                game[event_type] += 1
                game['team_point'] += 1
                added = False

            else:
                game[event_type] += 1
                added = False

        if not added:
            games.append(game)

activity_2088811850.tcx
[4, datetime.datetime(2017, 10, 11, 17, 36, 39)]
[1, datetime.datetime(2017, 10, 11, 17, 39, 5)]
[1, datetime.datetime(2017, 10, 11, 17, 40, 43)]
[2, datetime.datetime(2017, 10, 11, 17, 44, 43)]
[2, datetime.datetime(2017, 10, 11, 17, 45, 14)]
[3, datetime.datetime(2017, 10, 11, 17, 47, 53)]
[2, datetime.datetime(2017, 10, 11, 17, 49, 20)]
[2, datetime.datetime(2017, 10, 11, 17, 50, 20)]
[2, datetime.datetime(2017, 10, 11, 17, 51, 45)]
[4, datetime.datetime(2017, 10, 11, 17, 51, 53)]
[2, datetime.datetime(2017, 10, 11, 17, 53, 44)]
[1, datetime.datetime(2017, 10, 11, 17, 57, 45)]
[1, datetime.datetime(2017, 10, 11, 17, 59, 16)]
[1, datetime.datetime(2017, 10, 11, 18, 0, 32)]
[4, datetime.datetime(2017, 10, 11, 18, 0, 46)]
activity_2101180747.tcx
[1, datetime.datetime(2017, 10, 13, 17, 16, 13)]
[2, datetime.datetime(2017, 10, 13, 17, 16, 24)]
[1, datetime.datetime(2017, 10, 13, 17, 19, 36)]
[2, datetime.datetime(2017, 10, 13, 17, 22, 19)]
[2, datetime.datetime(2017, 10, 13, 17, 23, 56)]
[2, datetime.datetime(2017, 10, 13, 17, 25, 20)]
[1, datetime.datetime(2017, 10, 13, 17, 26, 28)]
[2, datetime.datetime(2017, 10, 13, 17, 28, 45)]
[4, datetime.datetime(2017, 10, 13, 17, 29, 1)]
[1, datetime.datetime(2017, 10, 13, 17, 31, 10)]
[2, datetime.datetime(2017, 10, 13, 17, 32, 54)]
[2, datetime.datetime(2017, 10, 13, 17, 36, 23)]
[2, datetime.datetime(2017, 10, 13, 17, 39, 51)]
[2, datetime.datetime(2017, 10, 13, 17, 43, 45)]
[1, datetime.datetime(2017, 10, 13, 17, 45, 12)]
[1, datetime.datetime(2017, 10, 13, 17, 47, 3)]
[1, datetime.datetime(2017, 10, 13, 17, 49, 43)]
[2, datetime.datetime(2017, 10, 13, 17, 51, 17)]
[4, datetime.datetime(2017, 10, 13, 17, 51, 36)]
[1, datetime.datetime(2017, 10, 13, 17, 53, 57)]
[1, datetime.datetime(2017, 10, 13, 17, 55, 31)]
[2, datetime.datetime(2017, 10, 13, 17, 56, 49)]
[1, datetime.datetime(2017, 10, 13, 17, 59, 43)]
[3, datetime.datetime(2017, 10, 13, 18, 1, 45)]
[1, datetime.datetime(2017, 10, 13, 18, 3, 34)]
[4, datetime.datetime(2017, 10, 13, 18, 3, 47)]
[2, datetime.datetime(2017, 10, 13, 18, 5, 58)]
[3, datetime.datetime(2017, 10, 13, 18, 9, 57)]
[2, datetime.datetime(2017, 10, 13, 18, 12, 36)]
[2, datetime.datetime(2017, 10, 13, 18, 15, 54)]
[4, datetime.datetime(2017, 10, 13, 18, 16, 8)]
activity_2123251878.tcx
[2, datetime.datetime(2017, 10, 16, 17, 16, 1)]
[2, datetime.datetime(2017, 10, 16, 17, 18, 47)]
[2, datetime.datetime(2017, 10, 16, 17, 21, 43)]
[1, datetime.datetime(2017, 10, 16, 17, 22, 42)]
[1, datetime.datetime(2017, 10, 16, 17, 25, 29)]
[2, datetime.datetime(2017, 10, 16, 17, 26, 34)]
[1, datetime.datetime(2017, 10, 16, 17, 27, 51)]
[2, datetime.datetime(2017, 10, 16, 17, 29, 47)]
[4, datetime.datetime(2017, 10, 16, 17, 30, 4)]
[2, datetime.datetime(2017, 10, 16, 17, 31, 28)]
[3, datetime.datetime(2017, 10, 16, 17, 32, 53)]
[2, datetime.datetime(2017, 10, 16, 17, 35, 7)]
[1, datetime.datetime(2017, 10, 16, 17, 37, 42)]
[2, datetime.datetime(2017, 10, 16, 17, 39)]
[1, datetime.datetime(2017, 10, 16, 17, 40, 5)]
[2, datetime.datetime(2017, 10, 16, 17, 41, 50)]
[2, datetime.datetime(2017, 10, 16, 17, 44, 9)]
[4, datetime.datetime(2017, 10, 16, 17, 45, 3)]
[1, datetime.datetime(2017, 10, 16, 17, 47, 9)]
[1, datetime.datetime(2017, 10, 16, 17, 48, 32)]
[1, datetime.datetime(2017, 10, 16, 17, 50, 34)]
[2, datetime.datetime(2017, 10, 16, 17, 51, 45)]
[3, datetime.datetime(2017, 10, 16, 17, 54, 21)]
[2, datetime.datetime(2017, 10, 16, 17, 55, 40)]
[3, datetime.datetime(2017, 10, 16, 17, 57, 9)]
[4, datetime.datetime(2017, 10, 16, 17, 57, 21)]
activity_2136523005.tcx
[2, datetime.datetime(2017, 10, 18, 17, 12, 9)]
[1, datetime.datetime(2017, 10, 18, 17, 15, 30)]
[1, datetime.datetime(2017, 10, 18, 17, 16, 51)]
[2, datetime.datetime(2017, 10, 18, 17, 18, 16)]
[1, datetime.datetime(2017, 10, 18, 17, 21, 4)]
[2, datetime.datetime(2017, 10, 18, 17, 24, 24)]
[1, datetime.datetime(2017, 10, 18, 17, 26, 42)]
[3, datetime.datetime(2017, 10, 18, 17, 28, 21)]
[4, datetime.datetime(2017, 10, 18, 17, 28, 57)]
[2, datetime.datetime(2017, 10, 18, 17, 31, 46)]
[1, datetime.datetime(2017, 10, 18, 17, 32, 59)]
[2, datetime.datetime(2017, 10, 18, 17, 35, 5)]
[2, datetime.datetime(2017, 10, 18, 17, 37, 27)]
[1, datetime.datetime(2017, 10, 18, 17, 39, 32)]
[2, datetime.datetime(2017, 10, 18, 17, 41, 11)]
[1, datetime.datetime(2017, 10, 18, 17, 44, 13)]
[2, datetime.datetime(2017, 10, 18, 17, 46, 51)]
[4, datetime.datetime(2017, 10, 18, 17, 47, 6)]
[2, datetime.datetime(2017, 10, 18, 17, 49, 17)]
[1, datetime.datetime(2017, 10, 18, 17, 51, 43)]
[2, datetime.datetime(2017, 10, 18, 17, 54, 35)]
[1, datetime.datetime(2017, 10, 18, 17, 55, 58)]
[2, datetime.datetime(2017, 10, 18, 17, 57, 41)]
[2, datetime.datetime(2017, 10, 18, 18, 0, 5)]
[3, datetime.datetime(2017, 10, 18, 18, 1, 54)]
[2, datetime.datetime(2017, 10, 18, 18, 4, 21)]
[4, datetime.datetime(2017, 10, 18, 18, 4, 36)]
activity_2150744385.tcx
[2, datetime.datetime(2017, 10, 20, 17, 16, 45)]
[1, datetime.datetime(2017, 10, 20, 17, 18, 34)]
[2, datetime.datetime(2017, 10, 20, 17, 22, 32)]
[2, datetime.datetime(2017, 10, 20, 17, 24, 10)]
[1, datetime.datetime(2017, 10, 20, 17, 25, 8)]
[2, datetime.datetime(2017, 10, 20, 17, 26, 16)]
[1, datetime.datetime(2017, 10, 20, 17, 27, 20)]
[2, datetime.datetime(2017, 10, 20, 17, 29, 21)]
[4, datetime.datetime(2017, 10, 20, 17, 29, 36)]
[2, datetime.datetime(2017, 10, 20, 17, 31, 39)]
[1, datetime.datetime(2017, 10, 20, 17, 32, 53)]
[2, datetime.datetime(2017, 10, 20, 17, 34, 24)]
[2, datetime.datetime(2017, 10, 20, 17, 38, 41)]
[1, datetime.datetime(2017, 10, 20, 17, 40, 26)]
[1, datetime.datetime(2017, 10, 20, 17, 42, 37)]
[2, datetime.datetime(2017, 10, 20, 17, 44, 23)]
[1, datetime.datetime(2017, 10, 20, 17, 45, 35)]
[2, datetime.datetime(2017, 10, 20, 17, 50, 7)]
[4, datetime.datetime(2017, 10, 20, 17, 50, 20)]
[1, datetime.datetime(2017, 10, 20, 17, 53, 41)]
[2, datetime.datetime(2017, 10, 20, 17, 55, 18)]
[2, datetime.datetime(2017, 10, 20, 18, 0, 5)]
[2, datetime.datetime(2017, 10, 20, 18, 1, 52)]
[3, datetime.datetime(2017, 10, 20, 18, 3, 22)]
[3, datetime.datetime(2017, 10, 20, 18, 5, 16)]
activity_2174916434.tcx
[3, datetime.datetime(2017, 10, 23, 17, 11, 16)]
[2, datetime.datetime(2017, 10, 23, 17, 12, 25)]
[1, datetime.datetime(2017, 10, 23, 17, 13, 46)]
[1, datetime.datetime(2017, 10, 23, 17, 16, 29)]
[2, datetime.datetime(2017, 10, 23, 17, 17, 28)]
[2, datetime.datetime(2017, 10, 23, 17, 19, 19)]
[2, datetime.datetime(2017, 10, 23, 17, 21, 15)]
[2, datetime.datetime(2017, 10, 23, 17, 22, 29)]
[4, datetime.datetime(2017, 10, 23, 17, 22, 44)]
[2, datetime.datetime(2017, 10, 23, 17, 24, 3)]
[1, datetime.datetime(2017, 10, 23, 17, 25, 22)]
[2, datetime.datetime(2017, 10, 23, 17, 27, 9)]
[2, datetime.datetime(2017, 10, 23, 17, 29, 22)]
[1, datetime.datetime(2017, 10, 23, 17, 30, 44)]
[2, datetime.datetime(2017, 10, 23, 17, 32, 47)]
[2, datetime.datetime(2017, 10, 23, 17, 35, 11)]
[4, datetime.datetime(2017, 10, 23, 17, 35, 32)]
[2, datetime.datetime(2017, 10, 23, 17, 39, 6)]
[3, datetime.datetime(2017, 10, 23, 17, 40, 48)]
[1, datetime.datetime(2017, 10, 23, 17, 42, 18)]
[2, datetime.datetime(2017, 10, 23, 17, 44, 13)]
[2, datetime.datetime(2017, 10, 23, 17, 47, 23)]
[1, datetime.datetime(2017, 10, 23, 17, 50, 8)]
[2, datetime.datetime(2017, 10, 23, 17, 51, 40)]
[3, datetime.datetime(2017, 10, 23, 17, 53, 2)]
[2, datetime.datetime(2017, 10, 23, 17, 56, 29)]
[4, datetime.datetime(2017, 10, 23, 17, 56, 52)]
activity_2191799818.tcx
[1, datetime.datetime(2017, 10, 25, 17, 14, 8)]
[3, datetime.datetime(2017, 10, 25, 17, 17, 15)]
[3, datetime.datetime(2017, 10, 25, 17, 18, 41)]
[2, datetime.datetime(2017, 10, 25, 17, 20, 8)]
[2, datetime.datetime(2017, 10, 25, 17, 23, 27)]
[2, datetime.datetime(2017, 10, 25, 17, 27, 54)]
[2, datetime.datetime(2017, 10, 25, 17, 29, 52)]
[2, datetime.datetime(2017, 10, 25, 17, 31, 47)]
[4, datetime.datetime(2017, 10, 25, 17, 32, 8)]
[1, datetime.datetime(2017, 10, 25, 17, 34, 10)]
[2, datetime.datetime(2017, 10, 25, 17, 35, 42)]
[2, datetime.datetime(2017, 10, 25, 17, 38, 43)]
[2, datetime.datetime(2017, 10, 25, 17, 41, 36)]
[2, datetime.datetime(2017, 10, 25, 17, 44, 13)]
[1, datetime.datetime(2017, 10, 25, 17, 45, 24)]
[2, datetime.datetime(2017, 10, 25, 17, 47, 38)]
[4, datetime.datetime(2017, 10, 25, 17, 48)]
[1, datetime.datetime(2017, 10, 25, 17, 49, 51)]
[1, datetime.datetime(2017, 10, 25, 17, 52, 11)]
[2, datetime.datetime(2017, 10, 25, 17, 54, 33)]
[1, datetime.datetime(2017, 10, 25, 17, 58, 10)]
[2, datetime.datetime(2017, 10, 25, 18, 0, 27)]
[3, datetime.datetime(2017, 10, 25, 18, 1, 48)]
[1, datetime.datetime(2017, 10, 25, 18, 4, 8)]
[4, datetime.datetime(2017, 10, 25, 18, 4, 22)]
activity_2240316266.tcx
[1, datetime.datetime(2017, 10, 30, 17, 15, 47)]
[1, datetime.datetime(2017, 10, 30, 17, 17, 40)]
[2, datetime.datetime(2017, 10, 30, 17, 20, 26)]
[1, datetime.datetime(2017, 10, 30, 17, 21, 53)]
[2, datetime.datetime(2017, 10, 30, 17, 25, 18)]
[2, datetime.datetime(2017, 10, 30, 17, 27, 8)]
[1, datetime.datetime(2017, 10, 30, 17, 28, 47)]
[2, datetime.datetime(2017, 10, 30, 17, 31, 42)]
[2, datetime.datetime(2017, 10, 30, 17, 37, 7)]
[4, datetime.datetime(2017, 10, 30, 17, 37, 26)]
[2, datetime.datetime(2017, 10, 30, 17, 43, 28)]
[1, datetime.datetime(2017, 10, 30, 17, 50, 31)]
[2, datetime.datetime(2017, 10, 30, 17, 51, 58)]
[2, datetime.datetime(2017, 10, 30, 17, 55, 18)]
[2, datetime.datetime(2017, 10, 30, 17, 57, 54)]
[2, datetime.datetime(2017, 10, 30, 18, 2, 1)]
[4, datetime.datetime(2017, 10, 30, 18, 2, 29)]
activity_2259313466.tcx

[2, datetime.datetime(2017, 11, 1, 17, 12, 39)]
[1, datetime.datetime(2017, 11, 1, 17, 13, 53)]
[2, datetime.datetime(2017, 11, 1, 17, 17, 2)]
[2, datetime.datetime(2017, 11, 1, 17, 18, 21)]
[1, datetime.datetime(2017, 11, 1, 17, 19, 54)]
[2, datetime.datetime(2017, 11, 1, 17, 21, 24)]
[3, datetime.datetime(2017, 11, 1, 17, 24, 27)]
[4, datetime.datetime(2017, 11, 1, 17, 24, 40)]
[1, datetime.datetime(2017, 11, 1, 17, 25, 45)]
[2, datetime.datetime(2017, 11, 1, 17, 27, 17)]
[1, datetime.datetime(2017, 11, 1, 17, 28, 38)]
[2, datetime.datetime(2017, 11, 1, 17, 32, 25)]
[1, datetime.datetime(2017, 11, 1, 17, 33, 42)]
[2, datetime.datetime(2017, 11, 1, 17, 34, 55)]
[1, datetime.datetime(2017, 11, 1, 17, 37, 38)]
[3, datetime.datetime(2017, 11, 1, 17, 39, 34)]
[4, datetime.datetime(2017, 11, 1, 17, 39, 48)]
[2, datetime.datetime(2017, 11, 1, 17, 40, 48)]
[2, datetime.datetime(2017, 11, 1, 17, 42, 21)]
[2, datetime.datetime(2017, 11, 1, 17, 45, 25)]
[1, datetime.datetime(2017, 11, 1, 17, 46, 50)]
[2, datetime.datetime(2017, 11, 1, 17, 49, 12)]
[2, datetime.datetime(2017, 11, 1, 17, 51, 33)]
[4, datetime.datetime(2017, 11, 1, 17, 51, 57)]
[2, datetime.datetime(2017, 11, 1, 17, 54, 8)]
[2, datetime.datetime(2017, 11, 1, 17, 56, 44)]
[2, datetime.datetime(2017, 11, 1, 17, 59, 32)]
[3, datetime.datetime(2017, 11, 1, 17, 59, 54)]
activity_2278558136.tcx
[3, datetime.datetime(2017, 11, 3, 17, 11, 20)]
[2, datetime.datetime(2017, 11, 3, 17, 12, 39)]
[2, datetime.datetime(2017, 11, 3, 17, 14, 25)]
[1, datetime.datetime(2017, 11, 3, 17, 17, 2)]
[2, datetime.datetime(2017, 11, 3, 17, 18, 51)]
[1, datetime.datetime(2017, 11, 3, 17, 20, 47)]
[2, datetime.datetime(2017, 11, 3, 17, 22, 5)]
[3, datetime.datetime(2017, 11, 3, 17, 23, 57)]
[2, datetime.datetime(2017, 11, 3, 17, 25, 9)]
[4, datetime.datetime(2017, 11, 3, 17, 25, 24)]
[3, datetime.datetime(2017, 11, 3, 17, 26, 47)]
[2, datetime.datetime(2017, 11, 3, 17, 27, 43)]
[1, datetime.datetime(2017, 11, 3, 17, 29, 13)]
[2, datetime.datetime(2017, 11, 3, 17, 30, 23)]
[1, datetime.datetime(2017, 11, 3, 17, 32, 59)]
[2, datetime.datetime(2017, 11, 3, 17, 34, 18)]
[1, datetime.datetime(2017, 11, 3, 17, 35, 33)]
[2, datetime.datetime(2017, 11, 3, 17, 37, 10)]
[1, datetime.datetime(2017, 11, 3, 17, 38, 41)]
[4, datetime.datetime(2017, 11, 3, 17, 39, 10)]
[2, datetime.datetime(2017, 11, 3, 17, 41, 7)]
[1, datetime.datetime(2017, 11, 3, 17, 43, 1)]
[2, datetime.datetime(2017, 11, 3, 17, 44, 23)]
[2, datetime.datetime(2017, 11, 3, 17, 46, 28)]
[2, datetime.datetime(2017, 11, 3, 17, 50, 54)]
[3, datetime.datetime(2017, 11, 3, 17, 53, 52)]
[2, datetime.datetime(2017, 11, 3, 17, 55, 1)]
[4, datetime.datetime(2017, 11, 3, 17, 55, 17)]
[3, datetime.datetime(2017, 11, 3, 17, 57, 29)]
[1, datetime.datetime(2017, 11, 3, 18, 0, 52)]
[2, datetime.datetime(2017, 11, 3, 18, 2, 6)]
[2, datetime.datetime(2017, 11, 3, 18, 4, 10)]
[2, datetime.datetime(2017, 11, 3, 18, 6, 35)]
[2, datetime.datetime(2017, 11, 3, 18, 8, 49)]
[2, datetime.datetime(2017, 11, 3, 18, 10, 28)]
[4, datetime.datetime(2017, 11, 3, 18, 10, 38)]
activity_2307572188.tcx
[1, datetime.datetime(2017, 11, 6, 18, 11, 18)]
[1, datetime.datetime(2017, 11, 6, 18, 14, 47)]
[2, datetime.datetime(2017, 11, 6, 18, 17, 27)]
[2, datetime.datetime(2017, 11, 6, 18, 18, 58)]
[2, datetime.datetime(2017, 11, 6, 18, 21, 52)]
[2, datetime.datetime(2017, 11, 6, 18, 23, 39)]
[1, datetime.datetime(2017, 11, 6, 18, 25, 53)]
[2, datetime.datetime(2017, 11, 6, 18, 27, 30)]
[4, datetime.datetime(2017, 11, 6, 18, 27, 52)]
[3, datetime.datetime(2017, 11, 6, 18, 29, 47)]
[2, datetime.datetime(2017, 11, 6, 18, 30, 52)]
[1, datetime.datetime(2017, 11, 6, 18, 32, 8)]
[1, datetime.datetime(2017, 11, 6, 18, 33, 49)]
[2, datetime.datetime(2017, 11, 6, 18, 35, 47)]
[2, datetime.datetime(2017, 11, 6, 18, 38, 4)]
[1, datetime.datetime(2017, 11, 6, 18, 39, 27)]
[2, datetime.datetime(2017, 11, 6, 18, 40, 41)]
[1, datetime.datetime(2017, 11, 6, 18, 42, 16)]
[4, datetime.datetime(2017, 11, 6, 18, 42, 31)]
[2, datetime.datetime(2017, 11, 6, 18, 43, 56)]
[3, datetime.datetime(2017, 11, 6, 18, 45, 2)]
[1, datetime.datetime(2017, 11, 6, 18, 50)]
[2, datetime.datetime(2017, 11, 6, 18, 54, 3)]
[2, datetime.datetime(2017, 11, 6, 18, 57, 54)]
[2, datetime.datetime(2017, 11, 6, 18, 59, 16)]
[1, datetime.datetime(2017, 11, 6, 19, 1, 44)]
[1, datetime.datetime(2017, 11, 6, 19, 3, 8)]
[4, datetime.datetime(2017, 11, 6, 19, 3, 26)]
activity_2322172570.tcx
[2, datetime.datetime(2017, 11, 8, 18, 20, 18)]
[2, datetime.datetime(2017, 11, 8, 18, 21, 58)]
[1, datetime.datetime(2017, 11, 8, 18, 22, 49)]
[2, datetime.datetime(2017, 11, 8, 18, 24, 5)]
[1, datetime.datetime(2017, 11, 8, 18, 26, 33)]
[3, datetime.datetime(2017, 11, 8, 18, 31, 1)]
[2, datetime.datetime(2017, 11, 8, 18, 32, 47)]
[2, datetime.datetime(2017, 11, 8, 18, 34, 29)]
[4, datetime.datetime(2017, 11, 8, 18, 34, 46)]
[2, datetime.datetime(2017, 11, 8, 18, 37, 57)]
[2, datetime.datetime(2017, 11, 8, 18, 39, 14)]
[1, datetime.datetime(2017, 11, 8, 18, 40, 28)]
[2, datetime.datetime(2017, 11, 8, 18, 42, 41)]
[3, datetime.datetime(2017, 11, 8, 18, 44, 45)]
[2, datetime.datetime(2017, 11, 8, 18, 45, 52)]
[2, datetime.datetime(2017, 11, 8, 18, 47, 23)]
[4, datetime.datetime(2017, 11, 8, 18, 47, 45)]
[1, datetime.datetime(2017, 11, 8, 18, 49, 4)]
[2, datetime.datetime(2017, 11, 8, 18, 52, 19)]
[2, datetime.datetime(2017, 11, 8, 18, 58, 7)]
[2, datetime.datetime(2017, 11, 8, 19, 0, 4)]
[1, datetime.datetime(2017, 11, 8, 19, 1, 30)]
[3, datetime.datetime(2017, 11, 8, 19, 2, 45)]
[2, datetime.datetime(2017, 11, 8, 19, 5, 47)]
[4, datetime.datetime(2017, 11, 8, 19, 6, 11)]
activity_2333743749.tcx
[1, datetime.datetime(2017, 11, 15, 18, 8, 55)]
[2, datetime.datetime(2017, 11, 15, 18, 11, 7)]
[1, datetime.datetime(2017, 11, 15, 18, 14, 25)]
[1, datetime.datetime(2017, 11, 15, 18, 16, 13)]
[1, datetime.datetime(2017, 11, 15, 18, 19, 20)]
[2, datetime.datetime(2017, 11, 15, 18, 21, 6)]
[1, datetime.datetime(2017, 11, 15, 18, 22, 47)]
[2, datetime.datetime(2017, 11, 15, 18, 24, 6)]
[4, datetime.datetime(2017, 11, 15, 18, 24, 36)]
[1, datetime.datetime(2017, 11, 15, 18, 25, 28)]
[2, datetime.datetime(2017, 11, 15, 18, 28, 4)]
[1, datetime.datetime(2017, 11, 15, 18, 29, 24)]
[2, datetime.datetime(2017, 11, 15, 18, 31, 30)]
[1, datetime.datetime(2017, 11, 15, 18, 33, 41)]
[1, datetime.datetime(2017, 11, 15, 18, 36, 12)]
[1, datetime.datetime(2017, 11, 15, 18, 40, 48)]
[4, datetime.datetime(2017, 11, 15, 18, 41, 4)]
[2, datetime.datetime(2017, 11, 15, 18, 42, 46)]
[1, datetime.datetime(2017, 11, 15, 18, 44, 12)]
[2, datetime.datetime(2017, 11, 15, 18, 47, 16)]
[1, datetime.datetime(2017, 11, 15, 18, 49, 56)]
[2, datetime.datetime(2017, 11, 15, 18, 50, 55)]
[2, datetime.datetime(2017, 11, 15, 18, 54, 52)]
[1, datetime.datetime(2017, 11, 15, 18, 57, 14)]
[2, datetime.datetime(2017, 11, 15, 18, 58, 38)]
[4, datetime.datetime(2017, 11, 15, 18, 59)]
[1, datetime.datetime(2017, 11, 15, 18, 59, 49)]
[2, datetime.datetime(2017, 11, 15, 19, 1, 26)]
[1, datetime.datetime(2017, 11, 15, 19, 4, 7)]
[3, datetime.datetime(2017, 11, 15, 19, 9, 48)]
[4, datetime.datetime(2017, 11, 15, 19, 10, 22)]

In [15]:
import pandas as pd

In [16]:
df = pd.DataFrame(games)

In [17]:
df['date'] = df.end_time.apply(lambda x: datetime.date(x.year, x.month, x.day))

In [18]:
df = df.set_index(['date', 'game_num'])
df

                               end_time  my_point  opponent_point  team_point
date       game_num
2017-10-11 0        2017-10-11 17:36:39         0               0           0
           1        2017-10-11 17:51:53         1               5           3
           2        2017-10-11 18:00:46         0               1           3
2017-10-13 0        2017-10-13 17:29:01         0               5           3
           1        2017-10-13 17:51:36         0               5           4
           2        2017-10-13 18:03:47         1               1           5
           3        2017-10-13 18:16:08         1               3           1
2017-10-16 0        2017-10-16 17:30:04         0               5           3
           1        2017-10-16 17:45:03         1               5           3
           2        2017-10-16 17:57:21         2               2           5
2017-10-18 0        2017-10-18 17:28:57         1               3           5
           1        2017-10-18 17:47:06         0               5           3
           2        2017-10-18 18:04:36         1               5           3
2017-10-20 0        2017-10-20 17:29:36         0               5           3
           1        2017-10-20 17:50:20         0               5           4
           2        2017-10-20 18:05:16         2               3           3
2017-10-23 0        2017-10-23 17:22:44         1               5           3
           1        2017-10-23 17:35:32         0               5           2
           2        2017-10-23 17:56:52         2               5           4
2017-10-25 0        2017-10-25 17:32:08         2               5           3
           1        2017-10-25 17:48:00         0               5           2
           2        2017-10-25 18:04:22         1               2           5
2017-10-30 0        2017-10-30 17:37:26         0               5           4
           1        2017-10-30 18:02:29         0               5           1
2017-11-01 0        2017-11-01 17:24:40         1               4           3
           1        2017-11-01 17:39:48         1               3           5
           2        2017-11-01 17:51:57         0               5           1
           3        2017-11-01 17:59:54         1               3           1
2017-11-03 0        2017-11-03 17:25:24         2               5           4
           1        2017-11-03 17:39:10         1               4           5
           2        2017-11-03 17:55:17         1               5           2
           3        2017-11-03 18:10:38         1               5           2
2017-11-06 0        2017-11-06 18:27:52         0               5           3
           1        2017-11-06 18:42:31         1               4           5
           2        2017-11-06 19:03:26         1               4           4
2017-11-08 0        2017-11-08 18:34:46         1               5           3
           1        2017-11-08 18:47:45         1               5           2
           2        2017-11-08 19:06:11         1               4           3
2017-11-15 0        2017-11-15 18:24:36         0               3           5
           1        2017-11-15 18:41:04         0               2           5
           2        2017-11-15 18:59:00         0               5           3
           3        2017-11-15 19:10:22         1               1           3

In [35]:
pdf = df

In [37]:
pdf['my_team'] = None
pdf['white_wins'] = None
pdf['color_wins'] = None
pdf['white_point'] = None
pdf['color_point'] = None

In [38]:
pdf.head()

                               end_time  my_point  opponent_point  team_point  \
date       game_num
2017-10-11 0        2017-10-11 17:36:39         0               0           0
           1        2017-10-11 17:51:53         1               5           3
           2        2017-10-11 18:00:46         0               1           3
2017-10-13 0        2017-10-13 17:29:01         0               5           3
           1        2017-10-13 17:51:36         0               5           4

                    my_color white_wins color_wins my_team color_point  \
date       game_num
2017-10-11 0          colors       None       None    None        None
           1          colors       None       None    None        None
           2          colors       None       None    None        None
2017-10-13 0           white       None       None    None        None
           1           white       None       None    None        None

                    white_point
date       game_num
2017-10-11 0               None
           1               None
           2               None
2017-10-13 0               None
           1               None

In [39]:
for date, row in pdf.unstack().iterrows():
    print(date)
    start_date = date - datetime.timedelta(days=1)
    end_date = date + datetime.timedelta(days=1)
    
    
    for activity in client.get_activities(after=start_date, before=end_date):
        if 'ltimate' in activity.name and activity.type == 'Run':
            #print(activity.id, activity.name, activity.type, activity.start_date, activity.description)
            new_activity = client.get_activity(activity.id)
            #print(new_activity.description)
            try:
                scores, team = new_activity.description.split(' ')
                team = team.lower()
                try:
                    team_score, opponent_score = scores.split('-')
                except ValueError:
                    team_score, opponent_score, team = None, None, None     
            except ValueError:
                scores = None
                team_score, opponent_score, team = None, None, None           
            
            pdf.loc[date, 'my_team'] = team

            if 'white' in team:
                pdf.loc[date, 'my_team'] = 'white'
                pdf.loc[date, 'white_wins'] = team_score                
                pdf.loc[date, 'color_wins'] = opponent_score   
                pdf.loc[date, 'white_point'] = pdf.loc[date, 'team_point']                
                pdf.loc[date, 'color_point'] = pdf.loc[date, 'opponent_point']                

            else:                
                pdf.loc[date, 'my_team'] = 'color'
                pdf.loc[date, 'color_wins'] = team_score                
                pdf.loc[date, 'white_wins'] = opponent_score   
                pdf.loc[date, 'color_point'] = pdf.loc[date, 'team_point']                
                pdf.loc[date, 'white_point'] = pdf.loc[date, 'opponent_point']

2017-10-11 00:00:00
2017-10-13 00:00:00
2017-10-16 00:00:00
2017-10-18 00:00:00
2017-10-20 00:00:00
2017-10-23 00:00:00
2017-10-25 00:00:00
2017-10-30 00:00:00
2017-11-01 00:00:00
2017-11-03 00:00:00
2017-11-06 00:00:00
2017-11-08 00:00:00
2017-11-15 00:00:00

In [40]:
pdf.loc[date, 'team_point']

game_num
0    5
1    5
2    3
3    3
Name: team_point, dtype: int64

In [41]:
pdf

                               end_time  my_point  opponent_point  team_point  \
date       game_num
2017-10-11 0        2017-10-11 17:36:39         0               0           0
           1        2017-10-11 17:51:53         1               5           3
           2        2017-10-11 18:00:46         0               1           3
2017-10-13 0        2017-10-13 17:29:01         0               5           3
           1        2017-10-13 17:51:36         0               5           4
           2        2017-10-13 18:03:47         1               1           5
           3        2017-10-13 18:16:08         1               3           1
2017-10-16 0        2017-10-16 17:30:04         0               5           3
           1        2017-10-16 17:45:03         1               5           3
           2        2017-10-16 17:57:21         2               2           5
2017-10-18 0        2017-10-18 17:28:57         1               3           5
           1        2017-10-18 17:47:06         0               5           3
           2        2017-10-18 18:04:36         1               5           3
2017-10-20 0        2017-10-20 17:29:36         0               5           3
           1        2017-10-20 17:50:20         0               5           4
           2        2017-10-20 18:05:16         2               3           3
2017-10-23 0        2017-10-23 17:22:44         1               5           3
           1        2017-10-23 17:35:32         0               5           2
           2        2017-10-23 17:56:52         2               5           4
2017-10-25 0        2017-10-25 17:32:08         2               5           3
           1        2017-10-25 17:48:00         0               5           2
           2        2017-10-25 18:04:22         1               2           5
2017-10-30 0        2017-10-30 17:37:26         0               5           4
           1        2017-10-30 18:02:29         0               5           1
2017-11-01 0        2017-11-01 17:24:40         1               4           3
           1        2017-11-01 17:39:48         1               3           5
           2        2017-11-01 17:51:57         0               5           1
           3        2017-11-01 17:59:54         1               3           1
2017-11-03 0        2017-11-03 17:25:24         2               5           4
           1        2017-11-03 17:39:10         1               4           5
           2        2017-11-03 17:55:17         1               5           2
           3        2017-11-03 18:10:38         1               5           2
2017-11-06 0        2017-11-06 18:27:52         0               5           3
           1        2017-11-06 18:42:31         1               4           5
           2        2017-11-06 19:03:26         1               4           4
2017-11-08 0        2017-11-08 18:34:46         1               5           3
           1        2017-11-08 18:47:45         1               5           2
           2        2017-11-08 19:06:11         1               4           3
2017-11-15 0        2017-11-15 18:24:36         0               3           5
           1        2017-11-15 18:41:04         0               2           5
           2        2017-11-15 18:59:00         0               5           3
           3        2017-11-15 19:10:22         1               1           3

                    my_color white_wins color_wins my_team color_point  \
date       game_num
2017-10-11 0          colors          2          1   color         NaN
           1          colors          2          1   color         NaN
           2          colors          2          1   color         NaN
2017-10-13 0           white          1          3   white         NaN
           1           white          1          3   white         NaN
           2           white          1          3   white         NaN
           3           white          1          3   white         NaN
2017-10-16 0          colors          2          1   color         NaN
           1          colors          2          1   color         NaN
           2          colors          2          1   color         NaN
2017-10-18 0           white          1          2   white         NaN
           1           white          1          2   white         NaN
           2           white          1          2   white         NaN
2017-10-20 0           white          2          0   white         NaN
           1           white          2          0   white         NaN
           2           white          2          0   white         NaN
2017-10-23 0           white          0          4   white         NaN
           1           white          0          4   white         NaN
           2           white          0          4   white         NaN
2017-10-25 0          colors          2          1   color         NaN
           1          colors          2          1   color         NaN
           2          colors          2          1   color         NaN
2017-10-30 0          colors          2          0   color         NaN
           1          colors          2          0   color         NaN
2017-11-01 0           white          1          3   white         NaN
           1           white          1          3   white         NaN
           2           white          1          3   white         NaN
           3           white          1          3   white         NaN
2017-11-03 0          colors          3          1   color         NaN
           1          colors          3          1   color         NaN
           2          colors          3          1   color         NaN
           3          colors          3          1   color         NaN
2017-11-06 0           white          2          1   white         NaN
           1           white          2          1   white         NaN
           2           white          2          1   white         NaN
2017-11-08 0          colors          3          0   color         NaN
           1          colors          3          0   color         NaN
           2          colors          3          0   color         NaN
2017-11-15 0           white          3          1   white         NaN
           1           white          3          1   white         NaN
           2           white          3          1   white         NaN
           3           white          3          1   white         NaN

                    white_point
date       game_num
2017-10-11 0                NaN
           1                NaN
           2                NaN
2017-10-13 0                NaN
           1                NaN
           2                NaN
           3                NaN
2017-10-16 0                NaN
           1                NaN
           2                NaN
2017-10-18 0                NaN
           1                NaN
           2                NaN
2017-10-20 0                NaN
           1                NaN
           2                NaN
2017-10-23 0                NaN
           1                NaN
           2                NaN
2017-10-25 0                NaN
           1                NaN
           2                NaN
2017-10-30 0                NaN
           1                NaN
2017-11-01 0                NaN
           1                NaN
           2                NaN
           3                NaN
2017-11-03 0                NaN
           1                NaN
           2                NaN
           3                NaN
2017-11-06 0                NaN
           1                NaN
           2                NaN
2017-11-08 0                NaN
           1                NaN
           2                NaN
2017-11-15 0                NaN
           1                NaN
           2                NaN
           3                NaN

In [ ]:
runs = []
for activity in client.get_activities(after=lap_start_date):
    if 'ltimate' in activity.name and activity.type == 'Run':
        #print(activity.id, activity.name, activity.type, activity.start_date, activity.description)
        new_activity = client.get_activity(activity.id)
        #print(new_activity.description)
        try:
            scores, color = new_activity.description.split(' ')
            try:
                team_score, opponent_score = scores.split('-')
            except ValueError:
                team_score, opponent_score, color = None, None, None     
        except ValueError:
            scores = None
            team_score, opponent_score, color = None, None, None           
        
        print(new_activity.start_date, team_score, opponent_score, color)
        runs.append(activity)